.box {
     position: relative;
     margin-left: 10px;
     text-align: center;
     
 }
 
 .item1,.item2,.item3,.item4,.item5,.item6 {  
     text-align: center;
     display: inline-block;
     width: 300px;
     height: 300px;
     margin-top: 300px;
     position: relative;
     margin-left: 50px;
     background-color: gray;  
 }
 
 .item1:hover,.item2:hover,.item3:hover,.item4:hover,.item5:hover,.item6:hover {
     background-color: blue;
 }